@tailwind base;
@tailwind components;
@tailwind utilities;

/* Start 딤 처리용  */
#dimm {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

#dimm.close {
    display: none;
}
#dimm.show {
    display: block;
}
#dimm.show-noclick {
    display: block;
    z-index: 10;
}
/* End 딤 처리용  */

/* Start 테이블 행 일련번호 밑줄처리  */
.table-row:hover .rownum {
    text-decoration: underline;
}
/* End 테이블 행 일련번호 밑줄처리  */

/* Start searchResults */

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
#searchResults .selected {
    background-color: #d3d3d3 !important; /* 회색으로 선택 항목 강조 */
}
#searchResults {
    max-height: 400px; /* 최대 높이 설정 */
    overflow-y: auto; /* 수직 스크롤바 추가 */
}

.searchResult {
    display: flex;
    flex-direction: column;
}
.searchResult .domainSno {
    display: none;
}
.searchResult .domainName {
    font-weight: bold;
    display: block;
    margin-bottom: 4px;
}
.searchResult .domainType {
    color: #6c757d;
    display: block;
    margin-bottom: 4px;
}
.searchResult .termSno {
    display: none;
}
.searchResult .termName {
    font-weight: bold;
    display: block;
    margin-bottom: 4px;
}
.searchResult .termCamelName {
    color: #6c757d;
    display: block;
    margin-bottom: 4px;
}
.searchResult .termSnakeName {
    color: #adb5bd;
    display: block;
    margin-bottom: 4px;
}
.searchResult .domainType {
    color: #6c757d;
    display: block;
    margin-bottom: 4px;
}
.btnSelectColumn {
    margin-left: auto; /* 버튼을 오른쪽으로 정렬 */
}
/* End searchResults */

/*  Start custom-scrollbar */
.custom-scrollbar::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #FFD700, #FFA500);
    border-radius: 6px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #FFECB3, #FFC107);
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: rgba(240, 240, 200, 0.3);
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}
/*  End custom-scrollbar */